# Premiers pas en Python

## Données de bases

In [9]:
temperature = 25

In [10]:
type(temperature)

int

In [11]:
distance = 12555555555555555555555500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003
distance

12555555555555555555555500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003

In [12]:
# flottant norme IEEE754
pression = 4.5
type(pression)

float

In [14]:
prix = 0.10
prix

0.1

In [16]:
3*0.1

0.30000000000000004

In [17]:
formateur = "Matthias COLIN"
formateur

'Matthias COLIN'

In [18]:
phrase = "Aujourd'hui je dis : \"Il fait beau\""
phrase

'Aujourd\'hui je dis : "Il fait beau"'

In [19]:
print(phrase)

Aujourd'hui je dis : "Il fait beau"

In [22]:
type(phrase)

str

In [20]:
meteoOK = True
type(meteoOK)

bool

In [21]:
not meteoOK

False

## Opérateurs

In [24]:
ville = "Pau"

In [25]:
ville + " ville d'Henri IV"

"Pau ville d'Henri IV"

In [26]:
3 * ville

'PauPauPau'

In [30]:
# 3 + "Pau"
# TypeError : unsupported operand type(s) for +: 'int' and 'str'

In [31]:
3 / 4

0.75

In [32]:
4 / 3

1.3333333333333333

In [35]:
14 // 3

4

In [36]:
14 % 3

2

In [37]:
3 * 2.5

7.5

In [38]:
2**10

1024

In [39]:
10 - 3

7

In [ ]:
# En Python 3.5 : @

In [40]:
# comparaison d'ordre : < <= > >=
3 < 5

True

In [41]:
# ordre lexicographique
"Pau" < "Paris"

False

In [42]:
"été" < "étuve"

False

In [43]:
2 == 5 // 2

True

In [44]:
2 == 'test'

False

In [45]:
2 == 2.0

True

In [47]:
ville2 = "Paris"

In [52]:
ville3 = "P" + ville2[1:]
ville3

'Paris'

In [49]:
ville2 == ville3

True

In [54]:
# même donnée en mémoire
ville2 is ville3

False

In [55]:
ville4 = ville2
ville4

'Paris'

In [56]:
ville2 is ville4

True

In [57]:
# donnée gérée par référence
ville4 = 'Toulouse'
ville2, ville4

('Paris', 'Toulouse')

In [59]:
3 != 5

True

In [60]:
ville2 is not ville4

True

In [64]:
not ((3 < 5) and (ville2 is ville4))

True

In [62]:
True or False

True

In [ ]:
# opérateurs bitwise : ~ | & ^
# opérateurs décalage : << >>

## Conteneurs

In [65]:
villes = ["Meillon", "Paris", "Toulouse"]
temperatures = [25, 14, 25]
villes

['Meillon', 'Paris', 'Toulouse']

In [66]:
type(villes)

list

In [67]:
3*villes

['Meillon',
 'Paris',
 'Toulouse',
 'Meillon',
 'Paris',
 'Toulouse',
 'Meillon',
 'Paris',
 'Toulouse']

In [68]:
villes + ["Marseille", "Bayonne"]

['Meillon', 'Paris', 'Toulouse', 'Marseille', 'Bayonne']

In [70]:
len(villes)

3

In [72]:
len(ville4)

8

In [74]:
villes[0]

'Meillon'

In [77]:
villes[2]

'Toulouse'

In [79]:
villes[-1]

'Toulouse'

In [83]:
# out of range : villes[3], villes[-4]

In [84]:
villes = villes +  ["Marseille", "Bayonne"]
villes

['Meillon', 'Paris', 'Toulouse', 'Marseille', 'Bayonne']

In [85]:
# slice
villes[1:3]

['Paris', 'Toulouse']

In [87]:
villes[3:]

['Marseille', 'Bayonne']

In [88]:
villes[:3]

['Meillon', 'Paris', 'Toulouse']

In [89]:
# copie de la liste
villes[:]

['Meillon', 'Paris', 'Toulouse', 'Marseille', 'Bayonne']

In [91]:
villes[-3:]

['Toulouse', 'Marseille', 'Bayonne']

In [92]:
villes[-4:-1]

['Paris', 'Toulouse', 'Marseille']

In [93]:
villes[-1:-4]

[]

In [94]:
villes[100:]

[]

In [95]:
villes[::2]

['Meillon', 'Toulouse', 'Bayonne']

In [96]:
villes[1::2]

['Paris', 'Marseille']

In [97]:
villes[::-1]

['Bayonne', 'Marseille', 'Toulouse', 'Paris', 'Meillon']

In [100]:
ville4[:3]

'Tou'

In [101]:
ville4[::-1]

'esuoluoT'

In [103]:
villes.append('Dunkerque')
villes

['Meillon', 'Paris', 'Toulouse', 'Marseille', 'Bayonne', 'Dunkerque']

In [105]:
villes.extend(['Biarritz','Lille'])
villes

['Meillon',
 'Paris',
 'Toulouse',
 'Marseille',
 'Bayonne',
 'Dunkerque',
 'Biarritz',
 'Lille']

In [106]:
villes.append(['Dax', 'Orthez'])
villes

['Meillon',
 'Paris',
 'Toulouse',
 'Marseille',
 'Bayonne',
 'Dunkerque',
 'Biarritz',
 'Lille',
 ['Dax', 'Orthez']]

In [107]:
del villes[-1]
villes

['Meillon',
 'Paris',
 'Toulouse',
 'Marseille',
 'Bayonne',
 'Dunkerque',
 'Biarritz',
 'Lille']

In [108]:
del villes[-2:]
villes

['Meillon', 'Paris', 'Toulouse', 'Marseille', 'Bayonne', 'Dunkerque']